<!DOCTYPE html>
<html lang="en">
<head>
    <title>전송 이력 조회</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>
<body>
<h1>메일 전송 이력 조회</h1>
<select name="solution">
    <option value="default">솔루션</option>
    <option value="wireless">key#Wireless</option>
    <option value="mtranseky">Touchen mTranskey</option>
    <option value="mvaccine">Touchen mVaccine</option>
</select>

<select name="engineer">
    <option name="engineer" value="default">엔지니어</option>
    <option name="engineer" value="chjeon">전청하</option>
    <option name="engineer" value="shshin">신성휘</option>
    <option name="engineer" value="ickang">강인철</option>
    <option name="engineer" value="smkim">김수민</option>
    <option name="engineer" value="chyun">윤청현</option>
    <option name="engineer" value="jklee">이준기</option>
    <option name="engineer" value="gdkim">김기덕</option>
    <option name="engineer" value="jwjeong">정지운</option>
    <option name="engineer" value="jsjang">장지수</option>
    <option name="engineer" value="sjseo">서석준</option>
</select>

<button>조회</button>

<br><br>

</body>
</html>
