<!DOCTYPE HTML>
<html>
<head>
    <title>제품 선택</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>
<body>
<h1>제품 선택</h1>
<div style="display: flex; position: relative;">
    <div style="margin: auto;">
        <div style="width: 300px; height: 200px; border: 1px solid; float: left; margin-right: 20px;">
            <input type="radio" name="product" value="Key# Biz">Key# Biz<br>
            <input type="radio" name="product" value="Key# Wireless">Key# Wireless<br>
            <input type="radio" name="product" value="Key# nxCR">Key# nxCR<br>
            <input type="radio" name="product" value="TouchEn TransKey">TouchEn TransKey<br>
            <input type="radio" name="product" value="TouchEn mTransKey Web">TouchEn mTransKey Web<br>
            <input type="radio" name="product" value="TouchEn mTransKey CS">TouchEn mTransKey CS<br>
            <input type="radio" name="product" value="TouchEn mVaccine Web">TouchEn mVaccine Web<br>
            <input type="radio" name="product" value="TouchEn mVaccine CS">TouchEn mVaccine CS
        </div>
        <div id="checkList" style="width: 300px; height: 400px; border: 1px solid; float: left; overflow-y: auto; margin-bottom: 20px;">
        </div>
        <div style="margin: auto; width: 250px; height: 50px;">
            <input type="button" id="btn-check" style=" height: 50px; width: 250px;" value="확인">
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/select.js"></script>
</body>
</html>