<!DOCTYPE HTML>
<html>
<head>
    <title>제품 선택</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>
<body>
<h1>제품 선택</h1>
<div style="width: 300px; height: 200px; border: 1px solid; float: left; margin-right: 10px">
<input type="radio" name="product" value="Key# biz">Key# biz<br>
<input type="radio" name="product" value="Key# Wireless">Key# Wireless<br>
<input type="radio" name="product" value="Key# nxCR">Key# nxCR<br>
<input type="radio" name="product" value="TouchEn TransKey">TouchEn TransKey<br>
<input type="radio" name="product" value="TouchEn mTransKey Web">TouchEn mTransKey Web<br>
<input type="radio" name="product" value="TouchEn mTransKey CS">TouchEn mTransKey CS<br>
<input type="radio" name="product" value="TouchEn mVaccine Web">TouchEn mVaccine Web<br>
<input type="radio" name="product" value="TouchEn mVaccine CS">TouchEn mVaccine CS
</div>

<div style="width: 300px; height: 200px; border: 1px solid; float: left; overflow-y: auto">
    <input type="checkbox" name="check" value="1번">1번 고객사<br>
    <input type="checkbox" name="check" value="2번">2번 고객사<br>
    <input type="checkbox" name="check" value="3번">3번 고객사<br>
    <input type="checkbox" name="check" value="4번">4번 고객사<br>
    <input type="checkbox" name="check" value="5번">5번 고객사<br>
    <input type="checkbox" name="check" value="6번">6번 고객사<br>
    <input type="checkbox" name="check" value="7번">7번 고객사<br>
    <input type="checkbox" name="check" value="8번">8번 고객사<br>
    <input type="checkbox" name="check" value="9번">9번 고객사<br>
    <input type="checkbox" name="check" value="10번">10번 고객사<br>
    <input type="checkbox" name="check" value="11번">11번 고객사<br>
</div>
<br>
<input type="button" id="btn-check" value="확인">

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/select.js"></script>
</body>
</html>